body{
	background-color: yellow;
}
p{
	font-size: 32px;
}
.p1{
	color: darkcyan;
	background-color: mediumblue;
}
p2{
	font-family: Verdana,Arial,H;
}
p3{

}
p4{

}
p5{

}
p6{

}
p7{

}
p8{

}
p9{

}
p10{

}
p11{

}
p12{

}
p13{

}
p14{
	
}